*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: #25525e;
  border-top: 3px solid #f6b03b;
  border-bottom: 1px dotted #fff;
}
nav ul {
  list-style-type: none;
  padding: 20px 0;
  margin: 0 20%;
  margin-bottom: 2em;
}
nav li {
  display: inline;
  padding: 10px;
}
nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: #ccc;
  text-decoration: underline;
}
container {
  overflow: hidden;
}

table tr > td > a,
table tr > td > div > a {
  text-decoration: none;
  font-size: 14px;
}

table tr > td > div > a {
  color: white;
}
table tr > td > a {
  color: #25525e;
}

#table1,
.heading {
  width: 20%;
  float: left;
  margin-left: 100px;
  margin-top: 10%;
  background-color: #25525e;
  padding: 20px;
  color: #fff;
}
#table2 {
  width: 50%;
  float: right;
  color: #25525e;
  padding: 10px;
  margin-right: 20%;

  margin-top: 2em;
  border-collapse: collapse;
}

#table2 table td {
  border: 1px solid #25525e;
  vertical-align: 0;
}
